.header {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: rgb(255, 123, 0);
    border-bottom: solid 5px;
    
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 70px;
}

.header .title-group {
    padding-left: 15px;
}
.header .title-group i {
    padding-right: 10px;
}
