<div class="container">
  <mat-card class="card mat-elevation-z4">
      <mat-card-title>Aceleração Global Dev</mat-card-title>
      <mat-card-subtitle>Avanade #8</mat-card-subtitle>
      <img mat-card-image src="../../../assets/img/aceleracao8avanade.jpg" alt="Photo of a Shiba Inu">
      <a mat-raised-button href="https://certificates.digitalinnovation.one/DAF16085" target="_blank">Abrir Certificado</a>
  </mat-card>

  <mat-card class="card mat-elevation-z4">
      <mat-card-title>Aceleração Global Dev</mat-card-title>
      <mat-card-subtitle>Avanade #8</mat-card-subtitle>
      <img mat-card-image src="../../../assets/img/aceleracao8avanade.jpg" alt="Photo of a Shiba Inu">
      <a mat-raised-button href="https://certificates.digitalinnovation.one/DAF16085" target="_blank">Abrir Certificado</a>
  </mat-card>  
</div>